API_ID=
API_HASH=
BOT_TOKEN=
ALERT_STYLE=
DB_PATH=/app/data/app.db
YK_SHOP_ID=
YK_SECRET_KEY=
APP_RETURN_URL=
YK_INSECURE_SSL=
FRONTEND_URL=http://frontend:8080/new_lead
AITUNNEL_API_KEY=
REPORTS_DIR=/app/data/reports
EXCLUDED_CHAT_IDS=
DEDUP_WINDOW_MINUTES=360
